 /*.left {
    margin-top: 100px;
    /* margin-left: 150px; 
}

.right {
    margin-top: 50px;
    /* margin-left: 30px; 
}

.Hero {
    /* top: 100px !important;
    left: 1058px !important; 
    width: auto;
    height: 500px;
    margin-left: 10px;
    

}
 
.butn {
    width: 140px;
    height: 40px;
    background: #FF3147 0% 0% no-repeat padding-box;
    border:none;
    border-radius: 2px;
    opacity: 1;
    color: white;
    

}

.head2 {
    color: #ff3147;
    text-transform: uppercase;
    text-align: left;
    padding-left: 203px;
    font-size: 24px;
}

.head1 {

    text-transform: uppercase;
    font-weight: bold;
    font-size: 34px;
    text-align: left;
    padding-left: 203px;
}
 
.para {
    text-align: left;
    padding-left: 203px;
    font-size: 14px;
}
  
.second-para-1  {
    text-align: justify;
}
.second-para-2  {
    text-align: justify;
}

.second
{
    background: #FAFAFA 0% 0% no-repeat padding-box;
}  */